* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  height: 100vh;
  background: #f4f6f8;
}

.container {
  display: flex;
  height: 100%;
}

.left {
  width: 70%;
  background: #1e40af;
  color: white;
  display: flex;
  align-items: center;
  padding: 80px;
}



.logo {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background: white;
  color: #1e40af;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 40px;
  padding: 10px;
}
.logo-outerdiv{
    display: flex;
  align-items: center;
  justify-content: center;
}
.brand p {
  font-size: 18px;
 
}

.right {
  width: 30%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card {
  width: 100%;
  max-width: 320px;
}

.radiobuttons {
  display: none;
}

.toggle {
  display: flex;
  background: #e5e7eb;
  margin-bottom: 24px;
}

.tab {
  flex: 1;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  color: #374151;
}



.form {
  display: none;
}

#login-toggle:checked ~ .login-form {
  display: block;
}

#register-toggle:checked ~ .register-form {
  display: block;
}

.form h2 {
  margin-bottom: 20px;
}

.form input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 14px;
}


.submit {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  border: none;
  color: white;
}


.switch {
  margin-top: 16px;
  font-size: 13px;
  text-align: center;
}

.switch label {
  color: #2563eb;
  cursor: pointer;
}
